/*style sheet created by: Lenny Stossel, 5-17-2018 */

/* style makes the height of the html element 100% of the window height */
html {
	height: 100%;
}

/* Style for body specifies a background font family font size, font color, and border
		for the entire page*/
Body {
	background-image: url(../images/backroundimage1.png);
	font-family: BankGothic Lt BT;
	width: 900px;
	font-size: 1em;
	color: white;
	border: black solid 2px;
	margin: auto;
}

/* Style for the container centers the page and specifies the width and margins */
div#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	background-image: url(../images/container.jpg);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

/* styles the header element */
header {
	display: block;
	text-align: center;
}

/* Styles logo */
header>img#logo_name {
	margin-top: 0.4em;
	width: 70%;
	height: auto;
}

/* styles logo image */
header>img#logo_img {
	margin-top: -0.1em;
	margin-left: 1em;
	width: 117.5px;
	height: auto;
}

/* styles nav */
nav {
	width: 96%;
	text-align: center;
	margin: auto;
}

.productList>ul {
	list-style-type: none;
	margin: 0 35px 15px 0;
}

/* Styles all ul elements */
nav>ul {
	list-style-type: none;
	padding-inline-start: 0px;
	display: block;
}

nav>ul>li {
	text-align: center;
	border-radius: 7px;
	display: inline-block;
	margin: 0.2em;
	border: solid 1.3px #dd79ff;
	padding: 0.3em;
}

/* styles anchor elements within the nav element */
nav>ul>li>a {
	font-size: 1.6em;
	padding: 0px 24px;
	width: 30%;
}

a {
	text-decoration: none;
	color: #4beeff;
}

a:visited {
	color: #cd3aff;
}

/* Styles the Banner */
div#banner {
	display: block;
}

div#banner>img {
	width: 100%;
}




/*********************
 styles for the footer section
**********************/

/* styles the footer element */
footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-block-end: 0px;
	color: white;
	font-family: BankGothic Lt BT;
	padding: 1em;
}

.social {
	justify-self: center;
	margin-right: 35px;
}

/* styles the paragraph elements inside the footer element */
footer>p {
	color: white;
	text-align: center;
	align-self: center;
}

nav>#footer-nav {
	align-self: left;
}

/* styles the ancor elements inside the footer element */
footer>a {
	font-size: 1.2em;
}

/* styles the copytwrite in the footer element */
footer>p#copywrite {
	grid-column: 1/4;
	justify-self: center;
}

/* styles header paragraph for the social media links */
footer>div#social>p {
	color: burlywood;
	font-size: 1.2em;
}

.tablet {
	display: none;
}

.desktop {
	display: none;
}


/*******************
 Styles for main element 
 *******************/

main {
	display: block;
}

main>h1 {
	color: #b7b7b7;
	margin-left: 1em;
	font-size: 1.5em;
}


main>div.mainContentArea {
	background-image: linear-gradient(90deg, #1b0025, #8d00bda1);
	margin-left: auto;
	margin-right: auto;
	padding-right: 2em;
	padding-left: 2em;
	overflow: auto;
}

main>div.mainContentArea>h1.headline {
	font-size: 1.8em;
	text-align: center;
	margin: 0;
	padding: 0;
}

.title {
	font-family: GothicI;
}

main>div.mainContentArea>h2.description {
	font-size: 1.3em;
	text-align: center;
	margin: 0;
	margin-bottom: auto;
	padding: 0.3em;
}

main>div.mainContentArea>img {
	text-align: center;
	float: left;
	margin-bottom: 1em;
}

div.mainContentArea>article>h1 {
	font-size: 2em;
	text-align: center;
}

#promotions {
	text-align: center;
}

.productList {
	display: inline-block;
	margin: 1.5em;
	text-align: center;
	border: solid #05f9fa 1px;
	border-style: dashed;
	width: 17em;
	height: auto;
}

main>div.mainContentArea>article>p.article {
	font-size: 1.5em;
	text-align: center;
}

main>div.mainContentArea>.pgLink {
	font-size: 1.4em;
	display: block;
	margin-bottom: 23px;
}

main>div.mainContentArea>#productList>h2 {
	font-family: arial;
	font-size: 1.9em;
	font-weight: bold;
	color: #43ff08;
	margin-top: 0.5em;
	margin-left: 0;
	margin-bottom: 0;
}

main>div.mainContentArea>#productList>div>ul {
	margin-top: 0;
	list-style-type: square;
}

main>div.mainContentArea>#productList>div>ul>li {
	color: greenyellow;
	font-family: cursive;
	font-size: 1.4em;
}

/***************
 Gallery page styles 
 ***************/
#gallery {}

main>div.mainContentArea>#gallery {
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	width: fit-content;
	margin: 25px auto;
}

main>div.mainContentArea>#galleryLinks {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 25px auto;
	width: fit-content;
}

main>div.mainContentArea>div#galleryLinks img {
	width: 150px;
	margin-left: 3px;
	margin-right: 3px;
}


main>div.mainContentArea>div#gallery img {
	width: 100px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 8px;
	border: 3px #9e9e9e solid;
}

footer {
	background-color: black;
}

footer>nav>li {
	display: inline-block;
	margin: 2px 4px 2px 4px;
}

footer>.social>a>img {
	width: 75px;
}


/****************************
 Styles for media query above 600px
 ****************************/
/* @media all and (min-width:600px)   { */
.productList {
	float: right;
	margin: 0% 0;
}

.advertisement {
	width: 92%;
	height: auto;
	border: #27ff00 solid 1.5px;
	box-shadow: black 9px 9px 13px;
	text-align: center;
	border-radius: 7px 7px 7px;
	float: left;
	margin: 5px 25px 25px 5px;
}

figure.bilboard .advertisement {
	clear: both;
}

.tablet {
	display: block;
	overflow: auto;
}