/* body {
  background-image: url(images/backround-tile.png);
}

div#container {
  background-image: url(images/container.jpg);
  display: block;
} */
/* style makes the height of the html element 100% of the window height */
html {
  height: fit-content;
}

/* Style for body specifies a background font family font size, font color, and border
		for the entire page*/
Body {
  background-image: url(../images/backround-tile.png);
  /* font-family: ; */
  font-size: 1em;
  color: white;
  border: black solid 2px;
  max-width: 65%;
  margin: 0 auto;
}

/* Style for the container centers the page and specifies the width and margins */
div#container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: url(../images/container.jpg);
}

img#logo_name {
  width: 376px;
  margin: 10px 15px;
}

div#banner img {
  width: 100%;
  margin: 40px auto;
  border-top: 2px black solid;
  border-bottom: 2px black solid;

}

nav.body-nav {
  margin: 15px 0;
}

nav.body-nav a {
  border: #00e5ff 1px solid;
  padding: 10px 20px 10px 20px;
  color: #00e5ff;
  margin: 0 3px;
}

main {
  background-color: #00000096;
  height: fit-content;
}

section#req-paragraph {
  margin: 40px auto;
  padding: 10px 0;
  width: 80%;
  border-bottom: solid 2px #05f9fa;
}

div#home-img-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

figure.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  width: 1155px
}

img#atten-grabber {
  justify-self: center;
  grid-column: 1/3;
  grid-row: 1;
  width: 700px;
  border-radius: 5px;
}

img#promo {
  justify-self: right;
  grid-area: 2/1;
  width: 300px;
  margin: 25px 10px;
  border-radius: 5px;
}


aside#productList {
  grid-area: 2/2;
  margin: 35px 82px;
  border: solid #05f9fa 1px;
  border-style: dashed;
  width: fit-content;
  height: fit-content;
  padding: 5px 30px;
  text-align: left;
  background-color: #5c077c;
  border-radius: 5px;
}

footer {}