@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

html {
  width: 100%;
  height: auto;
  background-color: #dbdbfe;
  background-size: 100% 100%;
  font-family: "Arial", "Open Sans", sans-serif;
  font-size: 1em;
  color: #03022f;
}

#container {
  border: black solid 2px;
  box-shadow: 31px 30px 36px -13px #8080c2;
  background-image: url(../images/blossoms.jpg);
  width: 45%;
  margin-top: 9%;
  margin-left: 20%;
}

body {
  margin: 0;

}

#boxHeader {
  margin: 15.9% 9% 3%;
}

.spacer {
  height: 3em;
}

#boxTitle {
  font-family: "Comforter Brush";
  margin: 10px 0;
  text-align: right;
  font-size: 2.5em;
}

#signiture {
  text-align: right;
  margin: 10px 0;
  font-size: 1.5em;
}

#photo_holder {
  background-color: gray;
  height: 14em;
  text-align: center;
}

.psudoNav {
  display: inline-block;
  text-align: center;
  width: 24.9%;
  margin: 14px 12px;
  padding: 0;
}

.we_three_pics {
  height: 8em;
  margin: 1em;
  border-radius: 50%;
  border: #444444 15px solid;
}